<!-- Ici, j'ecrit tout le code de mon footer qui va se répéter sur toutes mes pages -->

<footer>

    <p class="footer__author"> Rémi Maestro-Villa, 2022. <br>

    Tout droits reservés </p>

</footer>

</body>

</html>