<!-- J'écris ici tout mon code qui sera factorisé -->

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Je veux une police google particulière, je part la chercher ! -->

        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <title>MarioKartDex</title>

    <!-- A la fin de mon head, je part chercher les deux scripts CSS ! D'abord reset pour remettre d'équerre puis styles pour décorer mon application -->

    <link rel="stylesheet" href="/css/reset.css" />

    <link rel="stylesheet" href="/css/styles.css" /> <!-- Le CSS se décharge bien sur toutes les pages !!! -->

</head>

<body>
    
    <header class="header">

        <h1 class="header__title"> MarioKartDex </h1>
        
    </header>